section.footer {
    background-color: #242629;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 20px;

    @media (max-width: 991px) {
        text-align: center;
        font-size: 18px;
        padding: 15px;
    }
}
