section.whatsapp {
    background-color: #25d366;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 610;
    bottom: 35px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    right: 50px;
    border-radius: 75px;
    transition: all 0.5s;

    i {
        color: white;
        font-size: 46px;
        vertical-align: middle;
    }

    &:hover {
        background-color: #1f9249;
    }
}
