@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Staatliches", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body ::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1600px;
  height: 100%;
}

.row.principal {
  position: relative;
  height: 100%;
  z-index: 2;
  align-items: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #242629;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader img {
  height: 40px;
  width: 40px;
}

section.menu {
  position: fixed;
  right: 50px;
  top: 40px;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
section.menu .list-group {
  flex-direction: row;
  border-radius: 0;
}
section.menu .list-group-item {
  padding: 0;
  background: none;
  border: none;
}
section.menu a {
  transition: 0.1s color;
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 0 10px;
}
section.menu a:hover {
  color: #a1a1a1;
}
section.menu a.active {
  margin-top: 0 !important;
  border-bottom: 5px solid white;
}
section.menu.dark a {
  color: #242629;
}
section.menu.dark a:hover {
  color: #595d62;
}
section.menu.dark a.active {
  border-color: #242629;
}
@media (max-width: 1591px) {
  section.menu a {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  section.menu {
    display: none;
  }
}

section.menu-mobile .btn-menu,
section.menu-mobile .btn-fechar {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #383838;
  padding: 5px 0;
  width: 45px;
  font-size: 20px;
  text-align: center;
  color: white;
  z-index: 5;
  transition: 0.5s all;
}
section.menu-mobile .btn-menu.hide,
section.menu-mobile .btn-fechar.hide {
  opacity: 0;
}
section.menu-mobile .menu-dropdown {
  width: 100%;
  background-color: rgba(56, 56, 56, 0.9);
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  top: -100%;
  transition: 0.5s all;
}
section.menu-mobile .menu-dropdown .in-menu {
  padding: 30px;
}
section.menu-mobile .menu-dropdown .in-menu a {
  display: block;
  font-size: 32px;
  margin: 0;
  text-align: center;
  color: white;
  text-decoration: none;
}
section.menu-mobile .menu-dropdown.show {
  top: 0;
  opacity: 1;
  pointer-events: all;
}
@media (min-width: 991px) {
  section.menu-mobile {
    display: none;
  }
}

section.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
section.home .contatos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
  z-index: 2;
}
section.home .contatos .phone {
  display: flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
}
section.home .contatos .phone:hover i {
  transform: translateY(-3px);
  background-color: #525252;
}
section.home .contatos .phone i {
  transition: 0.5s all;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 100%;
  margin-right: 15px;
  background-color: #383838;
}
section.home .contatos .phone:last-child i {
  margin-right: 0;
}
section.home:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242629;
  opacity: 0.7;
  pointer-events: none;
}
section.home .arrow {
  position: absolute;
  left: 0;
  margin: auto;
  z-index: 3;
  right: 0;
  bottom: 50px;
  animation: infinite-down 0.6s steps(10) infinite alternate;
}
@keyframes infinite-down {
  from {
    opacity: 0.1;
    bottom: 80px;
  }
  to {
    opacity: 1;
    bottom: 50px;
  }
}
section.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
}
section.home .title {
  position: relative;
  pointer-events: none;
  margin: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
section.home .title h1,
section.home .title h2 {
  z-index: 2;
  position: relative;
}
section.home .title h1 {
  font-size: 100px;
  color: whitesmoke;
  margin-bottom: 0;
}
section.home .title h2 {
  font-size: 70px;
  color: #888888;
  margin-top: -26px;
  margin-bottom: 0;
}
section.home .title:before {
  position: absolute;
  right: -70px;
  top: -10px;
  content: "";
  background-image: url("../images/moon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  z-index: 1;
}
@media (max-width: 1199px) {
  section.home .title h1 {
    font-size: 90px;
  }
  section.home .title h2 {
    font-size: 60px;
  }
  section.home .title:before {
    width: 180px;
    height: 180px;
    right: -65px;
  }
}
@media (max-width: 991px) {
  section.home .title:before {
    width: 120px;
    height: 120px;
    right: -47px;
    top: -3px;
  }
  section.home .title h1 {
    font-size: 60px;
  }
  section.home .title h2 {
    font-size: 45px;
    margin-top: -15px;
  }
  section.home .contatos {
    max-width: 320px;
  }
  section.home .contatos .phone i {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  section.home .contatos {
    margin-top: 25px;
    max-width: 300px;
  }
  section.home .contatos .phone i {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
  section.home .title h1 {
    font-size: 55px;
  }
  section.home .title h2 {
    font-size: 40px;
  }
  section.home .title:before {
    right: -30px;
    top: -8px;
  }
}

section.sobre {
  min-height: 100vh;
  display: flex;
  padding: 50px 0;
  align-items: center;
}
section.sobre h1 {
  font-size: 45px;
  color: #4a4c50;
}
section.sobre .foto {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  filter: grayscale(1);
  transition: 0.5s all;
}
section.sobre .foto:hover {
  transform: translateY(-5px) translateX(5px);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.08);
  filter: none;
}
section.sobre .texto {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
section.sobre .habilidades {
  font-size: 24px;
}
section.sobre .habilidades h5 {
  color: #34495e;
  font-size: 30px;
  margin: 35px 0 15px 0;
}
section.sobre .habilidades i {
  margin-right: 10px;
  color: #2ecc71;
}
@media (max-width: 1591px) {
  section.sobre h1 {
    font-size: 38px;
  }
  section.sobre .foto {
    max-width: 450px;
  }
  section.sobre .texto {
    font-size: 18px;
  }
  section.sobre .habilidades {
    font-size: 20px;
  }
  section.sobre .habilidades h5 {
    font-size: 26px;
  }
}
@media (max-width: 1439px) {
  section.sobre .foto {
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  section.sobre {
    padding: 30px 0;
  }
  section.sobre .habilidades {
    font-size: 18px;
  }
  section.sobre .habilidades .item {
    margin: 5px 10px;
  }
  section.sobre .habilidades h5 {
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  section.sobre h1 {
    text-align: center;
    font-size: 30px;
  }
  section.sobre .texto {
    text-align: center;
    font-size: 16px;
  }
  section.sobre .foto {
    max-width: 180px;
    margin-bottom: 30px;
  }
}

section.portfolio {
  background-color: #242629;
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
section.portfolio h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 60px;
  margin-bottom: 6px;
}
section.portfolio .categorias {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.portfolio .categorias a {
  display: inline-block;
  background-color: #e2e2e2;
  color: #252525;
  text-decoration: none;
  margin: 10px;
  border-radius: 30px;
  padding: 7px 20px;
  font-size: 20px;
}
section.portfolio .categorias a.active {
  background-color: #f1c40f;
}
section.portfolio .ver-tudo {
  color: white;
  margin-top: 30px;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
}
section.portfolio .ver-tudo .ver {
  display: block;
}
section.portfolio .ver-tudo .fechar {
  display: none;
}
section.portfolio .ver-tudo.aberto .ver {
  display: none;
}
section.portfolio .ver-tudo.aberto .fechar {
  display: block;
}
section.portfolio .portfolio {
  margin-top: 30px;
  position: relative;
}
section.portfolio .portfolio a {
  width: 100%;
  height: 200px;
  display: block;
  margin: 10px 0;
  position: relative;
}
section.portfolio .portfolio a .caption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s all;
}
section.portfolio .portfolio a:hover .caption {
  opacity: 1;
}
section.portfolio .portfolio a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1591px) {
  section.portfolio h1 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  section.portfolio {
    padding: 30px 0;
  }
  section.portfolio .ver-tudo {
    font-size: 20px;
  }
  section.portfolio h1 {
    font-size: 36px;
  }
  section.portfolio .portfolio {
    margin-top: 15px;
  }
}

section.contato {
  min-height: 100vh;
  display: flex;
  padding: 50px 0;
  align-items: center;
}
section.contato h1 {
  text-align: center;
  color: #4a4c50;
  font-size: 50px;
  margin-bottom: 60px;
}
section.contato .phone {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 20px;
  text-decoration: none;
  transition: 0.5s all;
}
section.contato .phone:last-child {
  margin-bottom: 0;
}
section.contato .phone:hover {
  transform: translateY(-3px);
}
section.contato .phone:hover i {
  background-color: #525252;
}
section.contato .phone i {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 100%;
  margin-right: 15px;
  transition: 0.5s all;
  background-color: #242629;
}
section.contato .phone span {
  display: block;
  line-height: 1;
  color: #34495e;
  font-size: 22px;
}
section.contato .phone span strong {
  color: #242629;
  font-size: 26px;
  display: block;
  font-weight: 400;
}
section.contato form input,
section.contato form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 24px;
  border: 1px solid #242629;
  outline: none;
  resize: none;
}
section.contato form button {
  background-color: #242629;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 22px;
  float: right;
  transition: 0.5s all;
}
section.contato form button:hover {
  background-color: #525252;
}
section.contato form button.sucesso {
  background-color: #27ae60;
}
section.contato form button.erro {
  background-color: #e74c3c;
}
@media (max-width: 1591px) {
  section.contato h1 {
    font-size: 40px;
  }
  section.contato .phone i {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  section.contato .phone span strong {
    font-size: 23px;
  }
  section.contato form input,
  section.contato form textarea {
    font-size: 20px;
  }
  section.contato form button {
    padding: 8px 25px;
    font-size: 19px;
  }
}
@media (max-width: 991px) {
  section.contato {
    padding: 30px 0;
  }
  section.contato .phone {
    margin-left: 10px;
  }
  section.contato .phone span {
    font-size: 20px;
  }
  section.contato .phone span strong {
    font-size: 18px;
  }
  section.contato .phone i {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  section.contato h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  section.contato form input,
  section.contato form textarea {
    padding: 8px 15px;
    font-size: 17px;
  }
  section.contato form button {
    padding: 7px 24px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

section.footer {
  background-color: #242629;
  color: white;
  padding: 20px;
  text-align: right;
  font-size: 20px;
}
@media (max-width: 991px) {
  section.footer {
    text-align: center;
    font-size: 18px;
    padding: 15px;
  }
}

section.whatsapp-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: #25d366;
  border-radius: 100%;
  text-decoration: none;
  font-size: 40px;
  transition: 0.5s all;
  z-index: 5;
}
section.whatsapp-button a:hover {
  background-color: #169e48;
  transform: translateY(-3px);
}